<!DOCTYPE html>
<html>
<head>
    <title>Hugging Face Model Demo</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>What jobs would I be good at based on my traits/skills?</h2>
        <form action="/generate" method="post">
            <label for="prompt">Enter a few of your best personality traits and/or skills:</label><br>
            <input type="text" id="prompt" name="prompt"><br><br>
            <input type="submit" value="Generate">
        </form>
    </div>
</body>
</html>